.login-card {
    max-width: 400px;
    margin: 4rem auto;
    text-align: center;
  
    button {
      margin-top: 1rem;
    }
  
    img {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    pre {
      background: #f3f3f3;
      padding: 0.5rem;
      border-radius: 5px;
      text-align: left;
    }
  }
  